@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
header {
    width: 100vw;
    background-color: #1b4332;
    height: 50px;
    padding-top: 20px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    
}

.menu {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

.menu:hover {
    color: gold;
}

.my-profile {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 1rem;
}

.my-profile h1 {
    color: #52b788;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}

.my-profile .what-I-am{
    color: #52b788;
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 2rem;
}

.my-profile img {
    width: 100px;
}

main {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    place-items: left;
    padding: 150px;
    gap: 50px;
}

h2  {
    font-family: 'Roboto', sans-serif;
    color: #214493;
    font-size: 28px;
}

h3 {
    color: #108b98;
    font-family: Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 25px;
}

h4 {
    color: #212529;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.time {
    color: #6b6b6b;
    font-size: 17px;
}

.sec-1{
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: #d8f3dc;
    padding: 20px;
    row-gap: 1rem;
}